body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-image: url(./download.jfif);
    background-size: contain;
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#heading{
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size:60px ;
    padding: 20px;
}

@media only screen and (max-width:500px){
    #heading{
        font-size: 40px;
        font-weight: 600;
    }
}
#info{
    background-color: rgba(255, 255, 255, 0.801);
    border-radius: 40px;
    padding: 10px;
    font-size: 30px;
}

#gameboard{
    width: 600px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    border-radius: 40px ;
}
@media only screen and (max-width:500px){
    #gameboard{
        width: 300px;
        height: 300px;
        background-color: rgba(0, 0, 0, 0);
        display: flex;
        flex-wrap: wrap;
        border-radius: 40px ;
    }
}

.square{
    width: 200px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.715);
    border: 4px solid rgba(255, 255, 255, 0.516);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;   
}

@media only screen and (max-width:500px){
    .square{
        width: 100px;
        height: 100px;
        background-color: rgba(0, 0, 0, 0.710);
        border: 4px solid rgba(255, 255, 255, 0.516);
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 18px;   
    }
}

.circle{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 15px #58b0b7 solid;
    box-sizing: border-box;
}
@media only screen and (max-width:500px){
    .circle{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 12px rgb(0, 248, 17) solid;
    box-sizing: border-box;
    }
}

.cross{
    height: 150px;
    width: 150px;
    position: relative;
}
@media only screen and (max-width:500px){
    .cross{
        height: 80px;
        width: 80px;
        position: relative;
    }
}
.cross::before, .cross::after {
    content: "";
    position: absolute;
    background-color: #f78757;
    transform: rotate(45deg);
}
.cross::before{
    left: 56%;
    width: 17%;
    margin-left: -15%;
    height: 100%;
}
.cross::after{
    top: 56%;
    height: 17%;
    margin-top: -15%;
    width: 100%;
}
